@import url(footer.css);
@import url(header.css);

/* Classes INDEX */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 15px;
    border-radius: 5px;
}

.hero-btn:hover {
    background-color: #1b99ca;
    border: 1px solid #1b99ca;
    transition: 1s;
}

/* Main */

/* Diferenciais */

.diferenciais .container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 40px 20px;
}

.diferenciais .card {
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 0;
    max-height: auto;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.diferenciais .card:hover {
    box-shadow: 0px 10px 67px 8px #031a7e;
}

.diferenciais .card svg {
    width: 53px;
    color: var(--azul-escuro);
    margin-bottom: 10px;
}

.diferenciais .card .titulo {
    margin: 13px 0;
    font-weight: 600;
    text-align: left;
    font-size: 1.2rem;
    color: var(--azul-escuro);
}

.diferenciais .card p {
    margin-top: 10px;
    text-align: left;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    color: #333;
}

/* End Diferenciais */

/* Redestina */

.redestina .container {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.redestina .redestina-img {
    width: 50%;
}

.redestina .redestina-img img {
    width: 80%;
    margin: 0 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 30px 3px rgba(51, 51, 51, 0.3);
}

.redestina .redestina-text {
    width: 50%;
    padding-right: 40px;
    text-align: justify;
}

.redestina .redestina-text h2 {
    font-size: 2.5em;
    color: var(--azul-escuro);
}

.redestina .redestina-text p {
    margin: 20px 0;
    color: black;
    font-size: 1.1em;
}

.redestina .container a {
    color: black;
    font-size: 0.9em;
}

.redestina .container a:hover {
    color: var(--azul-escuro);
}

.redestina button {
    padding: 10px 15px;
    color: var(--azul-escuro);
    background-color: transparent;
    border: 2px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.redestina button:hover {
    box-shadow: inset 0px 0px 25px var(--azul-escuro);
}

/* End Redestina */

/* Serviços */

.serviços .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviços {
    margin-top: 40px;
}

.serviços h2 {
    font-size: 2.5rem;
    margin: 0 40px;
}

.serviços .azul {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul-escuro);
    margin: 0 40px;
}

.serviços .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.serviços .cards .card-item {
    width: 24%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.08);
}

.serviços .cards img {
    width: 80px;
    align-items: center;
}

.serviços .cards .titulo-serviço {
    margin: 3px 0;
    color: #031a7e;
    font-weight: bold;
}

.serviços .cards button {
    padding: 10px 15px;
    margin: 20px 40px;
    color: var(--azul-escuro);
    background-color: transparent;
    border: 2px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.serviços .cards button:hover {
    box-shadow: inset 0px 0px 25px var(--azul-claro);
}

/* End Serviços */


/* Responsivo */

@media (max-width: 960px) {
    

    main .container {
        flex-direction: column;
    }

    main .container .main-img {
        width: 100%;
    }

    main .container .main-text h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    main .container .main-text {
        width: 100%;
        text-align: center;
    }

    main .btn-gradiente {
        width: 100px;
        height: 40px;
        font-size: 15px;
        padding: 10px 20px;
        margin: 20px auto;
    }

    .diferenciais .container {
        flex-direction: column;
    }

    .diferenciais .card {
        width: 100%;
    }

    .diferenciais .card:hover {
        box-shadow: 0px 10px 10px 8px #031a7e;
    }

    .redestina .container {
        flex-direction: column-reverse;
        margin: 10px 10px;
    }

    .redestina .redestina-text {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .redestina .redestina-text p {
        margin: 20px 0;
        color: black;
        font-size: 1em;
    }

    .redestina .container a {
        color: black;
        font-size: 0.9em;
    }

    .redestina .redestina-img img {
        width: 100%;
        align-items: center;
        margin: 0 0;
        margin-top: 10px;
    }

    .serviços .cards {
        flex-direction: column;
    }

    .serviços .cards .card-item {
        width: 100%;
        margin-top: 50px;
    }

    .serviços h2 {
        font-size: 2.5rem;
        margin: 0 40px;
        text-align: center;
    }

 
}

@media (max-width: 768px) {
    .nav-links ul {
        padding-top: 50px;
    }

    .nav-links ul li {
        display: block;
        margin: 20px 0;
        text-align: left;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .menu-icons {
        display: flex;
        align-items: center;
    }

    nav .fa {
        display: block;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

    
}

@media (max-width: 430px) {
    main .container .main-text h1 {
        font-size: 3rem;
    }

}