/* Redefine as margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* variáveis globais*/
:root {
    --cinza: #333;
    --branco: white;
    --azul-claro: #1b99ca;
    --azul-escuro: #004daf;
    --degrade-btn: linear-gradient(#1b99ca, #004daf);
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* Classes INDEX */
.sub-header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../img/background-main.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
}

/* Estilo base do nav (visível no topo, sem transição) */
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;

}

/* Estilo do nav fixo com transição (deslizamento de cima para baixo) */
nav.fixed {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Mantém o fundo preto com opacidade */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1% 6%;
    z-index: 9999;

}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1b99ca;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Estilo do dropdown */
ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(5, 126, 255, 0.432);
    z-index: 9999;
    display: none;
    min-width: 130px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.nav-links ul li:hover>ul.dropdown {
    display: block;
}

.nav-links ul li ul.dropdown li:hover {
    background-color: #031a7e;

    width: 100%;

}

/* Estilo do dropdown quando o nav está fixo */
nav.fixed ul li ul.dropdown {
    background-color:  rgba(3, 46, 92, 0.918);
    /* Fundo branco com opacidade no nav fixo */
}

/* Links dentro do dropdown (mantendo a cor branca no estado fixo) */
nav.fixed ul li ul.dropdown li a {
    color: white;
    /* Texto azul escuro para contraste */
}

/* Hover nos itens do dropdown no estado fixo */
nav.fixed ul li ul.dropdown li:hover {
    background: rgba(27, 153, 202, 0.2);
    /* Tom mais claro de azul-claro com opacidade */
}

/* Ajuste para o dropdown no mobile */




/* Ajuste para quando o nav estiver fixo */
nav.fixed .nav-links ul li a {
    color: white;
}

/* Menu icon */
nav .fa {
    display: none;
    color: #fff;
}

nav .fa-bars {
    font-size: 25px;
}

/* Ajuste para o ícone de menu no nav fixo */
nav.fixed .fa-bars,
nav.fixed .fa-times {
    color: white;
}

.text-box {
    width: 90%;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
    margin-top: 15px;
    border-radius: 5px;
}

.hero-btn:hover {
    background-color: #1b99ca;
    border: 1px solid #1b99ca;
    transition: 1s;
}

/* Main */




/* Diferenciais */
.diferenciais .container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 40px 20px;
}

.diferenciais .card {
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 0;
    max-height: auto;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.diferenciais .card:hover {
    box-shadow: 0px 10px 67px 8px #031a7e;
}

.diferenciais .card svg {
    width: 53px;
    color: var(--azul-escuro);
    margin-bottom: 10px;
}

.diferenciais .card .titulo {
    margin: 13px 0;
    font-weight: 600;
    text-align: left;
    font-size: 1.2rem;
    color: var(--azul-escuro);
}

.diferenciais .card p {
    margin-top: 10px;
    text-align: left;
    line-height: 1.5;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
    color: #333;
}

/* Section Redestina */
.redestina .container {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.redestina .redestina-img {
    width: 50%;
}

.redestina .redestina-img img {
    width: 80%;
    margin: 0 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 30px 3px rgba(51, 51, 51, 0.3);
}

.redestina .redestina-text {
    width: 50%;
    padding-right: 40px;
    text-align: justify;
}

.redestina .redestina-text h2 {
    font-size: 2.5em;
    color: var(--azul-escuro);
}

.redestina .redestina-text p {
    margin: 20px 0;
    color: black;
    font-size: 1.1em;
}

.redestina .container a {
    color: black;
    font-size: 0.9em;
}

.redestina .container a:hover {
    color: var(--azul-escuro);
}

.redestina button {
    padding: 10px 15px;
    color: var(--azul-escuro);
    background-color: transparent;
    border: 2px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.redestina button:hover {
    box-shadow: inset 0px 0px 25px var(--azul-escuro);
}

/* Serviços */
.serviços .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviços {
    margin-top: 40px;
}

.serviços h2 {
    font-size: 2.5rem;
    margin: 0 40px;
}

.serviços .azul {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul-escuro);
    margin: 0 40px;
}

.serviços .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.serviços .cards .card-item {
    width: 24%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.08);
}

.serviços .cards img {
    width: 80px;
    align-items: center;
}

.serviços .cards .titulo-serviço {
    margin: 3px 0;
    color: #031a7e;
    font-weight: bold;
}

.serviços .cards button {
    padding: 10px 15px;
    margin: 20px 40px;
    color: var(--azul-escuro);
    background-color: transparent;
    border: 2px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.serviços .cards button:hover {
    box-shadow: inset 0px 0px 25px var(--azul-claro);
}

/* End Serviços */

/* footer */
footer {
    width: 100%;
    color: #fff;
}

#footer_content {
    background-color: #004daf;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#social_medias {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.5rem;
}

#social_medias .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 1.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#social_medias .footer-link:hover {
    color: #1b99ca;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #fff;
    transition: all 0.4s;
    font-size: 0.82rem;
}

.footer-list .footer-link:hover {
    color: #1b99ca;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #fff;
}

#input-group {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #c7c7ee;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: black;
}

#input-group button {
    background-color: #1b99ca;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #031a7e;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.footer-list li {
    white-space: normal;
    max-width: 230px;
    word-wrap: break-word;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}

/* end footer */

/* Responsivo */
@media (max-width: 960px) {
    .text-box h1 {
        font-size: 55px;
    }

    .header {
        background-position: -90px center;
    }

    .text-box p {
        font-size: 18px;
    }

    .nav-links {
        position: absolute;
        background-color: #004daf;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    ul li>a {
        display: block;
    }

    ul li.active>ul.dropdown {
        display: block;
    }

    .nav-links ul li a {
        font-size: 12px;
    }

    /* Diminuir o padding dos itens do menu */
    .nav-links ul li {
        padding: 8px 10px;
    }

    /* Diminuir o espaçamento entre os itens */
    .nav-links ul {
        margin: 0;
        padding: 0;
    }

    /* Ajustar o tamanho do dropdown */
    ul li ul.dropdown {
        min-width: 100px;
        padding-top: 0;
        background-color: rgb(41, 144, 255);
    }

    /* Ajustar o espaçamento interno do dropdown */
    ul li ul.dropdown li {
        padding: 0px 10px;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
    }

    .nav-links ul li {
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
        display: block;
    }

    .nav-links .ul {
        padding: 30px;
    }

    .logo {
        position: relative;
        left: -27px;
        margin-top: 3px;
    }

    nav {
        padding: 2% 4%;
    }

    nav.fixed {
        padding: 1% 4%;
    }

    nav img {
        width: 150px;
    }

    main .container {
        flex-direction: column;
    }

    main .container .main-img {
        width: 100%;
    }

    main .container .main-text h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    main .container .main-text {
        width: 100%;
        text-align: center;
    }

    main .btn-gradiente {
        width: 100px;
        height: 40px;
        font-size: 15px;
        padding: 10px 20px;
        margin: 20px auto;
    }

    .diferenciais .container {
        flex-direction: column;
    }

    .diferenciais .card {
        width: 100%;
    }

    .diferenciais .card:hover {
        box-shadow: 0px 10px 10px 8px #031a7e;
    }

    .redestina .container {
        flex-direction: column-reverse;
        margin: 10px 10px;
    }

    .redestina .redestina-text {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .redestina .redestina-text p {
        margin: 20px 0;
        color: black;
        font-size: 1em;
    }

    .redestina .container a {
        color: black;
        font-size: 0.9em;
    }

    .redestina .redestina-img img {
        width: 100%;
        align-items: center;
        margin: 0 0;
        margin-top: 10px;
    }

    .serviços .cards {
        flex-direction: column;
    }

    .serviços .cards .card-item {
        width: 100%;
        margin-top: 50px;
    }

    .serviços h2 {
        font-size: 2.5rem;
        margin: 0 40px;
        text-align: center;
    }

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #footer_content,
    #footer_subscribe,
    #footer_contacts,
    .footer-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    #input-group {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .nav-links ul {
        padding-top: 50px;
    }

    .nav-links ul li {
        display: block;
        margin: 20px 0;
        text-align: left;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .menu-icons {
        display: flex;
        align-items: center;
    }

    nav .fa {
        display: block;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

    #input-group {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 430px) {
    main .container .main-text h1 {
        font-size: 3rem;
    }

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    #input-group {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}