@import url(footer.css);
@import url(header.css);

/* Sub Header */

.sub-header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('..//img/background-services.png');
}

.sub-header h1 {
    margin-top: 100px;
    font-size: 27px;
    display: inline-block;
    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20%;
    text-align: center;
    font-weight: bold;
}

.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #004daf;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 150px;
}

.hero-btn:hover {
    background-color: #1b99ca;
}

/* End Sub Header */

/* services */

.solutions-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.text-content {
    margin-bottom: 40px;
}

.text-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #004daf;
}

.text-content p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.solutions-title {
    font-size: 1.5em;
    color: #004daf;
    margin-bottom: 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
    display: block;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card i {
    font-size: 2em;
    color: #1b99ca;
    margin-bottom: 15px;
}

.card svg {
    width: 2em;
    height: 2em;
    fill: #1b99ca;
    margin-bottom: 15px;
}

.card h4 {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

/* end services */


/* Responsivo */

@media (max-width: 960px) {

    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .text-content h2 {
        font-size: 1.2em;
    }

    .solutions-title {
        font-size: 1.2em;
    }



}

@media (max-width: 768px) {

    .cards-container {
        grid-template-columns: 1fr;
    }

    .text-content h2 {
        font-size: 1em;
    }

    .solutions-title {
        font-size: 1em;
    }
}