/* Redefine as margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    max-width: 100vw;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* variáveis globais*/

:root {
    --cinza: #333;
    --branco: white;
    --azul-claro: #1b99ca;
    --azul-escuro: #004daf;
    --degrade-btn: linear-gradient(#1b99ca, #004daf);
}

.sub-header {
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../img/background-about.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
}

.sub-header h1 {
    margin-top: 100px;
    font-size: 27px;
    display: inline-block;
    padding: 20px;
    /* Ajusta o espaçamento interno */
    border: 3px solid rgb(255, 255, 255);
    /* Cor e espessura da borda */
    border-radius: 20%;
    /* Torna a borda circular */
    text-align: center;
    font-weight: bold;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1b99ca;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Mostrar o dropdown ao passar o mouse */
.nav-links ul li:hover>ul.dropdown {
    display: block;
}

/* Estilo do dropdown */
ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(41, 145, 255, 0.425);
    z-index: 999;
    display: none;
    /* Escondido por padrão */
    min-width: 130px;
    /* Ajuste o tamanho do menu dropdown */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Itens do dropdown */
ul li ul.dropdown li {
    display: block;
    padding: 10px;
}

/* Links dentro do dropdown */
ul li ul.dropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
    text-align: left;
}

/* Hover nos itens do dropdown */
ul li ul.dropdown li:hover {
    background: #003580;
}



/* Menu icon*/

nav .fa {
    display: none;

}

nav .fa-bars {
    font-size: 25px;
}

/* End menu icon */

.about-us {
    width: 80%;
    margin: 50px auto;
    /* Adiciona espaçamento acima e abaixo */
    padding: 50px 0;
    /* Ajuste extra para evitar que fique colado */
}

.about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribui melhor os elementos */
    gap: 40px;
    /* Espaço entre a imagem e o texto */
}

.about-us .about-img {
    width: 50%;
    text-align: center;
    /* Centraliza a imagem dentro do container */
}

.about-us .about-img img {
    width: 100%;
    margin: auto;
    /* Garante centralização */
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra suave */
}

.about-us .about-text {
    width: 50%;
    padding-right: 40px;
    text-align: justify;
}

.about-us .about-text h2 {
    font-size: 2.5em;
    color: #004daf;
    margin-bottom: 20px;
    /* Espaço abaixo do título */
}

.about-us .about-text p {
    margin: 20px 0;
    color: black;
    font-size: 1.1em;
    line-height: 1.8;


}

/* Section about-empresa */

.about-empresa .container {
    width: 90%;
    /* DIMINUI AS MARGENS LATERAIS */
    max-width: 1300px;
    /* EVITA QUE FIQUE MUITO LARGO EM TELAS GRANDES */
    margin: 30px auto;
    /* CENTRALIZA O CONTAINER */
    display: flex;
    gap: 20px;
    /* MANTÉM ESPAÇAMENTO ENTRE OS CARDS */
}


.about-empresa .card {
    width: 100%;
    padding: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.about-empresa .card:hover {
    box-shadow: 0px 10px 10px 8px #031a7e;

}

.about-empresa .card i {
    font-size: 37px;
    color: #004daf;
    text-align: center;
}

.about-empresa .card .titulo {
    margin: 13px 0;
    font-weight: 600;
}

/* footer */

/* footer */

footer {
    width: 100%;
    color: #fff;
}

#footer_content {
    background-color: #004daf;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}


#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#social_medias {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.5rem;
}

#social_medias .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 1.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#social_medias .footer-link:hover {
    color: #1b99ca;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #fff;
    transition: all 0.4s;
    font-size: 0.82rem;

}

.footer-list .footer-link:hover {
    color: #1b99ca;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #fff;
}

#input-group {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #c7c7ee;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: black;
}

#input-group button {
    background-color: #1b99ca;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #031a7e;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.footer-list li {
    white-space: normal;
    /* Permite quebra de linha */
    max-width: 230px;
    /* Define uma largura para forçar a quebra */
    word-wrap: break-word;
    /* Quebra palavras longas se necessário */
}

.notification {
    position: fixed;
    bottom: 20px;
    /* Distância do fundo */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta para o centro */
    background-color: #303030;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    /* Inicia invisível */
    transition: opacity 0.5s ease;
    /* Animação de fade */
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
}

.notification.show {
    opacity: 1;
    /* Torna visível */
}

/* end footer */



@media (max-width: 960px) {
    .nav-links {
        position: absolute;
        background-color: #004daf;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    ul li>a {
        display: block;
    }

    ul li.active>ul.dropdown {
        display: block;
    }

    .nav-links ul li a {
        font-size: 12px;
        /* Ajuste o tamanho da fonte conforme necessário */
    }

    /* Diminuir o padding dos itens do menu */
    .nav-links ul li {
        padding: 8px 10px;
        /* Ajuste os valores de padding conforme necessário */
    }

    /* Diminuir o espaçamento entre os itens */
    .nav-links ul {
        margin: 0;
        /* Remove margens extras */
        padding: 0;
        /* Remove o padding, se necessário */
    }

    /* Ajustar o tamanho do dropdown */
    ul li ul.dropdown {
        min-width: 100px;
        /* Ajuste a largura do dropdown */
        padding-top: 0;
        background-color: rgb(41, 144, 255);
    }

    /* Ajustar o espaçamento interno do dropdown */
    ul li ul.dropdown li {
        padding: 0px 10px;
        /* Ajuste os valores de padding conforme necessário */
    }



    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
    }

    .nav-links .ul li {
        font-size: 20px;
        margin: 20px 0;
        font-weight: bold;
        display: block;
    }

    .nav-links .ul {
        padding: 30px;
    }

    .logo {
        position: relative;
        left: -27px;
        margin-top: 3px;
    }

    .sub-header {
        height: 40vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../img/background-about.jpg');
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
        position: relative;
    }

    .sub-header h1 {
        margin-top: 100px;
        font-size: 25px;
        display: inline-block;
        padding: 20px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 20%;
        text-align: center;
        font-weight: bold;
    }

    main .container {
        flex-direction: column;
    }

    .about-us .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .about-us .about-text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
        line-height: 1.8;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 20px;
    }

    .about-us .about-img {
        width: 100%;
        text-align: center;
    }

    .about-us .about-img img {
        width: 100%;
        max-width: 450px;
        border-radius: 10px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .about-empresa .container {
        flex-direction: column;
    }

    .about-empresa .card {
        width: 100%;
    }

    .about-empresa .card:hover {
        box-shadow: 0px 10px 10px 8px #031a7e;
    }

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #footer_content,
    #footer_subscribe,
    #footer_contacts,
    .footer-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    #input-group {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .about-us .about-text p {
        text-align: left;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: none;
    }

    ul li>a {
        display: block;
    }

    ul li.active>ul.dropdown {
        display: block;
    }

    .nav-links ul li a {
        font-size: 12px;
        /* Ajuste o tamanho da fonte conforme necessário */
    }

    /* Diminuir o padding dos itens do menu */
    .nav-links ul li {
        padding: 8px 10px;
        /* Ajuste os valores de padding conforme necessário */
    }

    /* Diminuir o espaçamento entre os itens */
    .nav-links ul {
        margin: 0;
        /* Remove margens extras */
        padding: 0;
        /* Remove o padding, se necessário */
    }

    /* Ajustar o tamanho do dropdown */
    ul li ul.dropdown {
        min-width: 100px;
        /* Ajuste a largura do dropdown */
        padding-top: 0;
    }

    /* Ajustar o espaçamento interno do dropdown */
    ul li ul.dropdown li {
        padding: 0px 10px;
        /* Ajuste os valores de padding conforme necessário */
    }

}

@media (max-width: 768px) {

    .nav-links ul {
        padding-top: 50px;
    }

    .nav-links ul li {
        display: block;
        margin: 20px 0;
        text-align: left;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .menu-icons {
        display: flex;
        align-items: center;
    }

    nav .fa {
        display: block;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }

    .about-us {
        flex-direction: column;
        text-align: center;
    }

    .about-us .about-img,
    .about-us .about-text {
        width: 100%;
    }

    .about-empresa .container {
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 430px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    #footer_content,
    #footer_subscribe,
    #footer_contacts,
    .footer-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    #input-group {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;

    }

    .about-us .about-text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
        line-height: 1.6;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 20px;
    }

    .about-us .about-text p {
        text-align: left;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: none;
    }
}